<h1>Login</h1>
<form action="/sessions" method="post">
    Email: <input type="text" name="email" value="a">
    Password: <input type="text" name="password" value="a">
    <input type="submit" value="Login">
</form>

<h1>Register</h1>
<form action="/users" method="post">
    First Name: <input type="text" name="first_name">
    Last Name: <input type="text" name="last_name">
    Email: <input type="text" name="email">
    Password: <input type="text" name="password">
    Confirm Password: <input type="text" name="confirm_password">
    <input type="submit" value="Register">
</form>
